/* Variables */
$font-stack:    Helvetica, sans-serif;
$base-color: #4E3D56;
$comp-one-color: #8FA353;
$comp-two-color: #50563D;
$highlight-one: #8E63A3;
$highlight-two: #9984A3;


/* Mixins */
@mixin my-border($comp-one-color) {
  border: 1px solid $comp-one-color;
}

/*@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

.box { @include border-radius(10px); }*/


body {
  font: 100% $font-stack;
  color: $base-color;
  background: $comp-one-color;
  @include my-border($highlight-two);
}

h1 {
	color: $highlight-one;
}